<% @results.each do |result|  %>
  <%# @results %>
  <iframe src="<%= result.embed_url %>" frameBorder="0" class="giphy-embed"></iframe>
<% end %>

<%# @results[0].image_original_url %>

<!-- <iframe src="//giphy.com/embed/3o7abB06u9bNzA8lu8" width="480" height="261" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/starwars-star-wars-the-force-awakens-bb-8-3o7abB06u9bNzA8lu8">via GIPHY</a></p> -->