<% @results.each do |result|  %>
<!-- <div class="row"> -->
<!--   <div class="center-align"> -->
    <div class="col s12 m7">
      <div class="card-stacked center hoverable">
        <iframe src="<%= result.embed_url %>" frameBorder="0" class="giphy-embed"></iframe>
      </div>
    <!-- </div> -->
  </div>
<!-- </div> -->
<% end %>